# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# 构建产物
packaging/rpmbuild/
packaging/dist/
packaging/build/
dist/
build/
*.spec.bak
.venv-win/

# Rust / Tauri
target/
.rustup/
.cargo/
tauri/src-tauri/gen/

# 编辑器
.vscode/
.idea/
